<div class="well">
<div class="well" style="background-color:white">	
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="movies">
		<thead>
				<tr role="row">
					<th>Movie Title</th>
				</tr>
		</thead>
		<thead>
		<tr>
			<th>Search Movie Titles</th>
		</tr>
	</thead>
</table>
	<script type="text/javascript">
		$.extend( $.fn.dataTableExt.oStdClasses, 
		{
    		"sWrapper": "dataTables_wrapper form-inline"
		});

		$(document).ready(function() 
		{
    		$('#movies').dataTable( 
    		{
        		"sDom": "<'row'<'span6'l>r>t<'row'<'span6'i><''p>>",
        		"sPaginationType": "bootstrap",
        		"oLanguage": {
					"sLengthMenu": "_MENU_ records per page"
				},
				"bProcessing": true,
				"iDisplayLength": -1,
    			"aLengthMenu": [[-1], ["All"]],
        		"sAjaxSource": "api/getMovies.php"
    		}).columnFilter(
    		{sPlaceHolder: "head:after"}
    		);
		});
	</script>

</div>
</div>
